@font-face {
  font-family: $font-family-custom;
  font-weight: $font-weight-regular;
  font-style:  normal;
  font-display: swap;
  src: url("#{$font-path}/#{$font-family-custom}-Regular.woff2") format("woff2"),
       url("#{$font-path}/#{$font-family-custom}-Regular.woff") format("woff");
}

@font-face {
  font-family: $font-family-custom;
  font-weight: $font-weight-medium;
  font-style:  normal;
  font-display: swap;
  src: url("#{$font-path}/#{$font-family-custom}-Medium.woff2") format("woff2"),
       url("#{$font-path}/#{$font-family-custom}-Medium.woff") format("woff");
}

@font-face {
  font-family: $font-family-custom;
  font-weight: $font-weight-bold;
  font-style:  normal;
  font-display: swap;
  src: url("#{$font-path}/#{$font-family-custom}-Black.woff2") format("woff2"),
       url("#{$font-path}/#{$font-family-custom}-Black.woff") format("woff");
}