.page {
  padding-bottom: 60px;
  overflow: hidden;
  overflow-y: scroll;

  @media #{$screen-tablet} {
    padding-bottom: 20px;
  }

  &::before {
    position: absolute;
    top: calc(107px + $header-height-mobile);
    right: -197px;

    width: 259px;
    height: 259px;

    border-radius: 259px;
    opacity: 0.5;
    background: $royal-purple;

    filter: blur($blur-light);

    content: "";

    @media #{$screen-desktop} {
      top: -154px;
      right: 50%;
    } 
  }

  &::after{
    position: absolute;
    bottom: 0;
    left: -55px;

    width: 211px;
    height: 210px;

    border-radius: 210px;
    background-color: $old-brick;

    filter: blur($blur-light);

    content: none;

    @media #{$screen-desktop} {
      bottom: 0;
      top: 251px;
      left: -102px;

      width: 311px;
      height: 311px;

      border-radius: 311px;
      opacity: .5;

      content: "";
    }
  }
}