.socials {
  &--header & {
    &__list {
      @media #{$screen-desktop} {
        column-gap: $gap-big;
      }
    }
  }

  &__list {
    display: flex;
    column-gap: $gap-small;
  }

  &__link {
    &:hover {
      opacity: $opacity;
      transition: $transition;
    }
  }
}