// Colors
$athens-gray: #E4E5EA;
$mid-gray: #656566;
$woodsmoke: #0E1014;
$royal-blue: #4077F3;
$yellow-orage: #FCB045;
$torch-red: #FD1D1D;
$shark: #1a1d23;

$color-background: $woodsmoke;
$color-text: $athens-gray;
$color-title: $mid-gray;
$color-button: $royal-blue;


// Fonts 
$font-family-inter: "Inter";
$font-family-montserrat: "Montserrat";
$font-family-default: "Arial", "Helvetica", sans-serif;
$font-path: "/fonts";

$font-family: $font-family-inter, $font-family-default;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 900;

$font-size-base: 16px;

$font-size-mini: 12px;
$font-size-small: 14px;
$font-size-normal: 18px;
$font-size-big: 36px;
$font-size-large: 48px;

$font-lead-title: $font-size-big;
$font-lead-subtitle: $font-size-normal;


// Breakpoints

$screen-tablet: '(min-width: 768px)';
$screen-desktop: '(min-width: 1140px)';

// Layout 

$container-width-desktop: 1140px;
$container-width-tablet: 728px;
$container-width-mobile: 320px;

$gap-container: 16px;

$gap-small: 10px;
$gap-normal: 15px;
$gap-medium: 20px;
$gap-big: 30px;

// transitions
$opacity: .8;
$transition: all .2s ease;

//Gradients 
$gradient-base: linear-gradient(90deg, $yellow-orage 36.99%, $torch-red 100%);